<!DOCTYPE html>
<html>
<head>
<title>Book Add</title>
</head>
<body>
<form action='' method = "POST">
  <p>Title <input type = "text" name = "bookTitle" value = "{{LibraryBookList.bookTitle}}"/></p>
  <p>Author <input type = "text" name = "bookAuthor" value = "{{LibraryBookList.bookAuthor}}"/></p>
  <p>Copies of the Book <input type = "integer" name = "bookCopies" value = "{{LibraryBookList.bookCopies}}"/></p>
  <p><input type = "submit" value = "Submit" /></p>
</form>
</body>
</html>