<!DOCTYPE html>
<html>
<head>
<title>Member Add</title>
</head>
<body>
<form action='' method = "POST">
  <p>Name <input type = "text" name = "memberName" value = {{"LibraryMembersList.memberName"}}/></p>
  <p>Registration Date <input type = "text" name = "memberRegDate" value = "{{LibraryMembersList.memberRegDate}}"/></p>
  <p>ID of Borrowed Book <input type = "integer" name = "memberBookTaken" value = "{{LibraryMembersList.memberBookTaken}}"/></p>
  <p><input type = "submit" value = "Submit" /></p>
</form>
</body>
</html>